.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 148px;
  width: 100%;
}

.mainButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 45%;
  gap: 16px;
}
