.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px;
  gap: 10px;
  margin: 0 auto;
}

.container > * {
  flex: 40%;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 324px;
}
