$primary-dark: #181b1d;
$primary-gray-dark: #1f2224;
$primary-gray: #2a2e30;
$primary-white: #ffffff;
$primary-blue-more: #285ddf;
$primary-blue: #2c68fa;
$primary-blue-less: #487cfd;
$primary-blue-25: rgba(44, 104, 250, 0.25);

$secondary-red-more: #c13c3c;
$secondary-red: #ff4e4e;
$secondary-red-less: #f46f6f;
$secondary-red-25: rgba(241, 75, 75, 0.25);
$secondary-purple: #9180ff;

$white-75: rgba(255, 255, 255, 0.75);
$white-50: rgba(255, 255, 255, 0.5);
$white-25: rgba(255, 255, 255, 0.25);

$gray-dark-75: rgba(31, 34, 36, 0.75);
$dark-50: rgba(31, 34, 36, 0.5);
