$font: 'Roboto', sans-serif;

$primary-dark: #181B1D;
$primary-gray-dark: #1F2224;
$primary-gray: #2A2E30;
$primary-white: #ffffff;
$primary-blue-more: #285DDF;
$primary-blue: #2C68FA;
$primary-blue-less: #487CFD;
$primary-blue-25: rgba(44, 104, 250, 0.25);

$secondary-red-more: #C13C3C;
$secondary-red: #FF4E4E;
$secondary-red-less:#F46F6F;
$secondary-red-25: rgba(241, 75, 75, 0.25);
$secondary-purple: #9180FF;

$white-75: rgba(255, 255, 255, 0.75);
$white-50: rgba(255, 255, 255, 0.5);
$white-25:rgba(255, 255, 255, 0.25);

$gray-dark-75:  rgba(31, 34, 36, 0.75);
$dark-50:  rgba(31, 34, 36, 0.5);