.parentContainer {
  display: flex;
}

.wrapper {
  background-color: var(--bg-default);
  padding: 12px;
  border-radius: 12px;
  max-width: 200px;
  border-radius: 12px 12px 12px 4px;
  margin-bottom: 15px;
}

.wrapperRight {
  align-self: flex-end;
  margin-left: auto;
  border-radius: 12px 12px 4px 12px;
  margin-bottom: 25px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  p {
    margin: 0;
    max-width: 100px;
    overflow-wrap: break-word;
  }
}

.input {
  width: 100%;
}

.message {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-stretch: 130;
}

.time {
  color: var(--gray-border);
  align-self: flex-end;
}

.username {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--purple);
}

.usernameRight {
  color: var(--blue);
}